/*Estilizando a pagina principal*/


/*Quadrado de promoção*/
#promo img#promocao{
    height: 1200px;
    width: auto;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container {
    display: flex;
    align-items: center; /* Alinha as divs verticalmente no centro, se necessário */
    justify-content: space-between; /* Distribui as divs uniformemente */
}

/*Moldura de telefone para o vídeo*/
#video {
    margin-top: 64%;
    width: 200px;
    padding: 20px;
    border: 16px solid #333;
    border-radius: 20px;
    background-color: #fad01a;
    box-shadow: 0 0 15px rgba(0, 0, 0,.5);
    position: relative;
    left: 50px;
    margin-right: auto; 
    display: inline-block;
}

/* Estilos para o vídeo */
video {

    width: 100%;
    height: auto;
    border-radius: 10px; /* Arredondamento dos cantos do vídeo */
}


/*Estilização de descrição*/

#descricao{
    margin-top: 60%;
    font-size: 22px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
}

hr {
    width: 100%;
}



